.button {
  cursor: pointer;
  box-sizing: border-box;
  /* position: relative; */
  transition-property: background-color, border, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  color: #FFFAFA;
  border: 2px solid #FFFAFA;
  background-color: #000;
  border-radius: 4px;
  padding: 12px 20px;
  margin-top: 16px;
  font-family: 'Spectral', serif;
  font-size: 24px;
  font-weight: 400;
}

.button:hover {
  background-color: #FFFAFA;
  color: #333333;
  box-shadow: 0px 0px 15px #FFFAFA;
}
