.auth_box {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 40vw;
border-radius: 2vw;
border: 0.5vh solid antiquewhite;
margin-top: 25vh;
padding: 5vh 5vh 5vh 5vh;
z-index: 2;
}

.login_data {
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 50%;
  height:40px;
  padding: 10px;
  border: 1px solid #FFFAFA;
  color: #FFFAFA;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin-top: 15px;
  background-color: rgb(221, 221, 221, 0.1);
}

input[name = LoginPassword] {
  margin-top: 5vh !important;
  width: 100%;
}

input[name = SubmitForm] {
  transition-property: background-color, border, color, box-shadow;
  transition-duration: 0.35s;
  transition-timing-function: ease;
  margin-top: 10vh;
}

input[name = SubmitForm]:hover {
  background-color: #e9e9e9;
  color: #333333;
  box-shadow: 0px 0px 15px #e9e9e9;
}



.modal_button:hover {
  background-color: #e9e9e9;
  color: #333333;
  box-shadow: 0px 0px 15px #e9e9e9;
}
