.top_bar {
    display: flex;
    position: fixed;
    background: rgb(3, 3, 3);
    background: linear-gradient(360deg, rgba(3, 3, 3, 0) 0%, rgba(3, 3, 3, 0.63) 28%, rgba(3, 3, 3, 1) 54%);
    top: -1vh;
    flex-flow: row;
    align-items: center;
    width: 100vw;
    padding: 2vh 1.5vw 1vh 1.5vw;
    justify-content: space-between;
    z-index: 4;
}

.main_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    transition-property: background-color, border, box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    border-radius: 2vh;
    cursor: pointer;
    z-index: 3;
}

.main_button:hover {
    background-color: #e9e9e9;
    box-shadow: 0px 0px 15px #e9e9e9;
}

.link {
    color: #e9e9e9;
    font-weight: 400;
    font-size: 2vw;
    padding: 0vh 1vh 0vh 1vh;
    border-radius: 1vh;
    transition-property: background-color, border, box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    text-decoration: none;
    margin-left: 2vw;
}

.link:first-child {
    margin-top: 0;
}

.link:visited {
    color: #e9e9e9;
}

.link:hover {
    background-color: #e9e9e9;
    color: #333333;
    box-shadow: 0px 0px 15px #e9e9e9;
}

.exit_button {
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 2vw;
    padding: 0vh 1vh 0vh 1vh;
    transition-property: background-color, border, box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    color: #e9e9e9;
    border: none;
    background-color: transparent;
    border-radius: 1vh;
    font-family: 'Spectral', serif;
    margin-left: 2vw;
}

.exit_button:hover {
    background-color: #e9e9e9;
    color: #333333;
    box-shadow: 0px 0px 15px #e9e9e9;
}

.nav {
    display: flex;
    flex-flow: row;
    /* width: 80vw; */
    padding: 15px;
    border-radius: 10px;
    color: #e9e9e9;
    /* text-align: center; */
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 3.5vh;
    font-size: 2vh;
    background-color: transparent;
    z-index: 3;
}

.navIcon {
    display: block;
    width: 60px;
    height: 40px;
    position: fixed;
    top: 2vh;
    right : 2vw;
    cursor: pointer;
    z-index: 3;
}

